@media screen and (min-width: 320px) and (max-width: 768px) {
  .upperMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
    min-width: 320px;
    background: white;
    border-bottom: 1px solid rgb(217, 255, 245);
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    gap: 15px;
  }

  .upperMenu__divider {
    margin-right: auto;
    padding-left: 15px;
  }

  .hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {

  .upperMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
    min-width: 100%;
    background:white;
    margin: 0;
    border-bottom: 1px solid rgb(217, 255, 245);
  }

  .upperMenu__call {
    margin-left: auto;
    padding-right: 10px;
  }

  .upperMenu__burger {
    padding-left: 20px;
    padding-right: 10px;
  }

  .upperMenu__divider,
  .upperMenu__group,
  .upperMenu__chat,
  .upperMenu__profile,
  .upperMenu__repair {
    padding-right: 10px;
  }

  .upperMenu__checkStatus {
    padding-right: 20px;
  }

  .upperMenu__repair2,
  .upperMenu__checkStatus2 {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .upperMenu {
    display: none;
  }

  .upperMenu__repair2,
  .upperMenu__checkStatus2 {
    padding-top: 5px;
    padding-right: 25px;
  }

  .upperMenu__repair2::before {
    content: "Оставить заявку";
    position: relative;
    top: -15px;
  }

  .upperMenu__checkStatus2::before {
    content: "Статус ремонта";
    position: relative;
    top: -15px;
  }
}
